<!doctype html>
<html lang="nl">
<head>
    <meta charset="utf-8">
    <title>Wiskunde Chatbot</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <nav>
    <a href="/">Home</a> |
    <a href="/docent">Docent</a>
    <a href="/info">Info</a>
  </nav>
        <div style="max-width:600px;margin:30px auto 0 auto;">
            <h3>Informatie</h3>
            <ul>
                <li>Deze applicatie zit nog in de test fase. Er kunnen nog meerder dingen aanpassen.</li>
                <li>Wij raden het aan om de informatie na te kijken of de informatie klopt. </li>
                <li>Als u false informatie ontvangt kunt u dat melden bij P.Assen.</li>
            </ul>
        </div>
</body>
</html>